html {
  scroll-behavior: smooth;
}
body {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 20px rgba(0, 0, 0, 0.1);
  color: #f0ead6;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}
/* Removed text-shadow on drop-down menu */
#noShadow {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px rgba(0, 0, 0, 0);
}

ul li {
  list-style-type: none;
}

p {
  font-size: 16px;
  padding: 0.5em;
  margin: 0.7em;
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 4em;
}

.mBottom {
  margin-bottom: 2%;
}

hr {
  border-top: 1px solid #f8f8f8;
  /* border-bottom: 1px solid rgb(0, 0, 0, 0); */
  width: 140vh;
}

.textMiddle {
  text-align: center;
}

.padTop {
  padding-top: 20%;
}

.bg-img {
  height: 35em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img:hover {
  -webkit-box-shadow: 0px 6px 21px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 21px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 21px -2px rgba(0, 0, 0, 0.75);
}

#intro {
  height: 45em;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1539278311020-fe8d86254350?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80")
      no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vRule {
  border-left: 0.09em solid #f0ead6;
}

.pSixOp {
  opacity: 0.6;
}

a:hover {
  transition: opacity 0.5s, color 0.5s;
  opacity: 1;
  color: #6567c6;
}

.bg-purple {
  background: #6567c6;
}

a {
  color: #f0ead6;
}

/* Tic Tac Toe styling */
.home {
  float: left;
  font-size: 2em;
  padding: 0.5em;
  background-color: #6567c6;
  margin: 0.2em;
  border: none;
  opacity: 0.9;
}

.home:hover {
  transition: opacity 0.3s, background-color 0.3s, border-radius 0.3s;
  opacity: 0.5;
  background-color: white;
  border-radius: 1.5em;
}

#ttt {
  font-family: "Shadows Into Light", cursive;
  margin: 0;
}

#message {
  font-size: 1.5em;
}

.tic {
  width: 5em;
  height: 5em;
}

table {
  border-radius: 5px;
  margin: 0px auto;
  padding: 2em;
}

td {
  background: #9370db;
  padding: 1em;
  font-size: 1.15em;
}

td:hover {
  cursor: pointer;
}

/* Increase input visibility */

h2 input {
  height: 3vh;
  width: 5vh;
  font-size: 20px;
}

.score {
  display: flex;
  justify-content: space-between;
  margin: 1em 10em;
  font-size: 2em;
}

.tButton {
  border-radius: 1.5em;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.3em;
  padding: 1.5em;
  margin: 0.5em 5em;
  text-decoration: none;
  opacity: 0.9;
  background: white;
}

.tButton:hover {
  transition: background-color 0.5s ease-in;
  background-color: #f0ead6;
  cursor: pointer;
}

@media (max-width: 740px) {
  .score {
    justify-content: space-evenly;
    margin: 0;
  }
  .home {
    margin-top: 0.2em;
    width: 100%;
    background: none;
  }
  .home:hover {
    margin: 0;
    border-radius: 1em;
    background-color: black;
  }

  .home:hover {
    transition: opacity 0.8s, background-color 0.8s, border-radius 0.8s;
  }
}

@media (max-width: 1500px) {
  article div ul li {
    margin: 26px;
  }
}

@media (max-width: 1200px) {
  article div ul li {
    margin: 0.2em;
  }
}

@media (max-width: 991px) {
  article div ul {
    padding: 0em 9em;
  }

  article h2 {
    text-align: center;
    font-size: 1.5em;
  }
  article img {
    margin: 1em 0em;
  }
  span img {
    padding-top: 12px;
  }
}

@media (max-width: 767px) {
  article div ul {
    padding: 0em 3.6em;
  }
  hr {
    width: 100vh;
  }
}

@media (max-width: 536px) {
  article div ul {
    padding: 0em 3.4em;
  }
}

@media (max-width: 531px) {
  article div ul {
    padding: 0em 3.3em;
  }
}

@media (max-width: 528px) {
  article div ul {
    padding: 0em 3em;
  }
}

@media (max-width: 517px) {
  article div ul {
    padding: 0em 2.8em;
  }
}

@media (max-width: 512px) {
  article div ul {
    padding: 0em 2.6em;
  }
}

@media (max-width: 504px) {
  article div ul {
    padding: 0em 2.4em;
  }
}

@media (max-width: 498px) {
  article div ul {
    padding: 0em 2.2em;
  }
}

@media (max-width: 492px) {
  article div ul {
    padding: 0em 1.7em;
  }
}

@media (max-width: 475px) {
  article div ul {
    padding: 0em 1.35em;
  }
}

@media (max-width: 464px) {
  article div ul {
    padding: 0em 0.3em;
  }
}

@media (max-width: 414px) {
  article div ul a {
    width: 14em;
  }
  hr {
    width: 16em;
  }
}

@media (max-width: 375px) {
  article div ul a {
    width: 11.5em;
  }
}

@media (max-width: 360px) {
  article div ul a {
    width: 10em;
  }
}

@media (max-width: 320px) {
  article div ul a {
    width: 8em;
  }
}
/* Winner Animation */

@keyframes won {
  0% {
    color: white;
  }
  15% {
    color: #e6e6fa;
  }
  30% {
    color: #d8bfd8;
  }
  45% {
    color: #dda0dd;
  }
  60% {
    color: #da70d6;
  }
  75% {
    color: #8a2be2;
  }
  90% {
    color: #8b008b;
  }
  100% {
    color: white;
  }
}

.winner {
  animation-name: won;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

/* Projects section */
bg-white {
  background-color: #eee;
}

.card-container {
  padding: 3.5em 0em;
}

.title {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

.ttt-title {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
}

/* Footer */
#footer {
  background-color: black;
  height: 13em;
  margin-top: 10em;
}
