body {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    color: #f0ead6;
}


/* Removed text-shadow on drop-down menu */
#noShadow {
    text-shadow:0px 0px 0px rgba(0,0,0,0),
                0px 0px 0px rgba(0,0,0,0),
                0px 0px 0px rgba(0,0,0,0);
}

h1 {
    font-size: 4em;
}

.mBottom {
    margin-bottom: 2%;
}

hr {
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgb(0,0,0,0.2);
    width: 380px;
}

.textMiddle {
    text-align: center;
}

.padTop {
    padding-top: 20%;
}

.bg-img {
    height: 35em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 
}

.bg-img:hover {
    -webkit-box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 21px -2px rgba(0,0,0,0.75);
}

#intro {
    height: 42em;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1525577288853-c6f0a020a162?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a76ff2c0280c0fcd31b5120ce3f11131&auto=format&fit=crop&w=1050&q=80");
}


#first-sec {
    /* background: red; */
    /* background-image: url("https://images.unsplash.com/photo-1539885144644-6a66b316a02e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9e48f47c7cf6ba46cff629ed1ae33370&auto=format&fit=crop&w=1500&q=80"); */
}

table {
    border: 1px solid blue;
    border-radius: 5px;
    margin: 0px auto;
    padding: 5em;
  }
  
  td {
    /* margin: 0px;  */
    background: linear-gradient(33deg, white, purple);
    padding: 30px;
  }
/* Fix text shadow on projects dropdown menu
 #noDec {
      text-shadow: 0px;
  } */

  .vRule {
    border-left: 0.09em solid #f0ead6;
  }
  
  .pSixOp {
    opacity: .6;
  }

  a:hover {
      opacity: 1;
      color: #6567c6;
  }

  .bg-purple {
      background: #6567c6;
  }

  a {
      color: #f0ead6;
  }

  /* Increasing TD size */

  .tic {
    width: 5em;
    height: 6em;
  }
